USE [master]
GO
/****** Object:  Database [DBFlatSale]    Script Date: 26.02.2024 3:36:58 ******/
CREATE DATABASE [DBFlatSale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFlatSale', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBFlatSale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBFlatSale_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBFlatSale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFlatSale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFlatSale]
GO
/****** Object:  Table [dbo].[ApartmentFinishing]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentFinishing](
	[AppartmentFinishingID] [int] NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[CoefficientID] [int] NOT NULL,
 CONSTRAINT [PK_ApartmentFinishing_1] PRIMARY KEY CLUSTERED 
(
	[AppartmentFinishingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[ApartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Area] [decimal](8, 2) NOT NULL,
	[Rooms] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[IsSold] [bit] NOT NULL,
 CONSTRAINT [PK__Apartmen__CBDF57442A2312FB] PRIMARY KEY CLUSTERED 
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[FullNameBuyer] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[DateBirthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinishingPriceCoefficients]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishingPriceCoefficients](
	[CoefficientID] [int] IDENTITY(1,1) NOT NULL,
	[FinishingTypeID] [int] NOT NULL,
	[PriceCoefficient] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoefficientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinishingTypes]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishingTypes](
	[FinishingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FinishingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealtorCompanyLinks]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealtorCompanyLinks](
	[LinkID] [int] IDENTITY(1,1) NOT NULL,
	[RealtorID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realtors]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realtors](
	[RealtorID] [int] IDENTITY(1,1) NOT NULL,
	[FullNameRealtors] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[DateBirthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RealtorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealtorSalaryLinks]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealtorSalaryLinks](
	[RealtorSalaryLinksID] [nchar](10) NOT NULL,
	[RealtorID] [int] NOT NULL,
	[SalaryID] [int] NOT NULL,
 CONSTRAINT [PK_RealtorSalaryLinks] PRIMARY KEY CLUSTERED 
(
	[RealtorSalaryLinksID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealtyCompanies]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealtyCompanies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[OriginalAmount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 26.02.2024 3:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] NOT NULL,
	[ApartmentID] [int] NULL,
	[RealtorID] [int] NULL,
	[BuyerID] [int] NULL,
	[SaleDate] [date] NULL,
	[FinishingTypeID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ApartmentFinishing] ([AppartmentFinishingID], [ApartmentID], [CoefficientID]) VALUES (1, 26, 3)
INSERT [dbo].[ApartmentFinishing] ([AppartmentFinishingID], [ApartmentID], [CoefficientID]) VALUES (2, 33, 1)
INSERT [dbo].[ApartmentFinishing] ([AppartmentFinishingID], [ApartmentID], [CoefficientID]) VALUES (3, 39, 3)
GO
SET IDENTITY_INSERT [dbo].[Apartments] ON 

INSERT [dbo].[Apartments] ([ApartmentID], [Area], [Rooms], [Floor], [IsSold]) VALUES (1, CAST(60.00 AS Decimal(8, 2)), 1, 1, 1)
INSERT [dbo].[Apartments] ([ApartmentID], [Area], [Rooms], [Floor], [IsSold]) VALUES (2, CAST(80.00 AS Decimal(8, 2)), 2, 1, 1)
INSERT [dbo].[Apartments] ([ApartmentID], [Area], [Rooms], [Floor], [IsSold]) VALUES (3, CAST(100.00 AS Decimal(8, 2)), 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Buyers] ON 

INSERT [dbo].[Buyers] ([BuyerID], [FullNameBuyer], [Email], [PhoneNumber], [DateBirthday]) VALUES (1, N'Сергей Петрович Кузнецов', N'sfgsg@example.com', N'+79001234567', CAST(N'1958-04-23' AS Date))
INSERT [dbo].[Buyers] ([BuyerID], [FullNameBuyer], [Email], [PhoneNumber], [DateBirthday]) VALUES (2, N'Александра ивановна Железняк', N'sdfgsdgh@example.com', N'+79012345678', CAST(N'1962-11-30' AS Date))
INSERT [dbo].[Buyers] ([BuyerID], [FullNameBuyer], [Email], [PhoneNumber], [DateBirthday]) VALUES (3, N'Владислав Владимирович Носов', N'hgjdjh@example.com', N'+79023456789', CAST(N'1960-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[Buyers] OFF
GO
SET IDENTITY_INSERT [dbo].[FinishingPriceCoefficients] ON 

INSERT [dbo].[FinishingPriceCoefficients] ([CoefficientID], [FinishingTypeID], [PriceCoefficient]) VALUES (1, 1, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[FinishingPriceCoefficients] ([CoefficientID], [FinishingTypeID], [PriceCoefficient]) VALUES (2, 2, CAST(1.20 AS Decimal(5, 2)))
INSERT [dbo].[FinishingPriceCoefficients] ([CoefficientID], [FinishingTypeID], [PriceCoefficient]) VALUES (3, 3, CAST(1.40 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[FinishingPriceCoefficients] OFF
GO
SET IDENTITY_INSERT [dbo].[FinishingTypes] ON 

INSERT [dbo].[FinishingTypes] ([FinishingTypeID], [TypeName], [Description]) VALUES (1, N'Без отделки', N'Квартира без внутренней отделки')
INSERT [dbo].[FinishingTypes] ([FinishingTypeID], [TypeName], [Description]) VALUES (2, N'Предчистовая отделка', N'Квартира с предчистовой отделкой')
INSERT [dbo].[FinishingTypes] ([FinishingTypeID], [TypeName], [Description]) VALUES (3, N'Чистовая отделка', N'Квартира с чистовой отделкой')
SET IDENTITY_INSERT [dbo].[FinishingTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RealtorCompanyLinks] ON 

INSERT [dbo].[RealtorCompanyLinks] ([LinkID], [RealtorID], [CompanyID]) VALUES (1, 1, 1)
INSERT [dbo].[RealtorCompanyLinks] ([LinkID], [RealtorID], [CompanyID]) VALUES (2, 2, 1)
INSERT [dbo].[RealtorCompanyLinks] ([LinkID], [RealtorID], [CompanyID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[RealtorCompanyLinks] OFF
GO
SET IDENTITY_INSERT [dbo].[Realtors] ON 

INSERT [dbo].[Realtors] ([RealtorID], [FullNameRealtors], [Email], [PhoneNumber], [DateBirthday]) VALUES (1, N'Валерий Ефимович Коненко', N'realtorDSFSDF@example.com', N'+79102345678', CAST(N'1970-08-04' AS Date))
INSERT [dbo].[Realtors] ([RealtorID], [FullNameRealtors], [Email], [PhoneNumber], [DateBirthday]) VALUES (2, N'Геннадий Назарович Шаповалов', N'realtorSDFSDF@example.com', N'+79113456789', CAST(N'1975-04-14' AS Date))
INSERT [dbo].[Realtors] ([RealtorID], [FullNameRealtors], [Email], [PhoneNumber], [DateBirthday]) VALUES (3, N'Алексей Сергеевич Слон', N'realtorDFGDFG@example.com', N'+79124567890', CAST(N'1980-09-03' AS Date))
SET IDENTITY_INSERT [dbo].[Realtors] OFF
GO
INSERT [dbo].[RealtorSalaryLinks] ([RealtorSalaryLinksID], [RealtorID], [SalaryID]) VALUES (N'1         ', 1, 1)
INSERT [dbo].[RealtorSalaryLinks] ([RealtorSalaryLinksID], [RealtorID], [SalaryID]) VALUES (N'2         ', 2, 2)
INSERT [dbo].[RealtorSalaryLinks] ([RealtorSalaryLinksID], [RealtorID], [SalaryID]) VALUES (N'3         ', 3, 3)
GO
SET IDENTITY_INSERT [dbo].[RealtyCompanies] ON 

INSERT [dbo].[RealtyCompanies] ([CompanyID], [CompanyName], [Address], [Phone], [Email]) VALUES (1, N'RealtStroy', N'г.Москва, ул.Ленина, 36, оф.205', N'+79503658977', N'RealtStroy@yandex.ru')
INSERT [dbo].[RealtyCompanies] ([CompanyID], [CompanyName], [Address], [Phone], [Email]) VALUES (2, N'FlatSoldRealty', N'г.Москва, ул.Пушкина, 48, оф 306', N'+74954569871', N'FlatSoldRealty@yandex.ru')
SET IDENTITY_INSERT [dbo].[RealtyCompanies] OFF
GO
INSERT [dbo].[Salary] ([SalaryID], [Amount], [OriginalAmount]) VALUES (1, CAST(50000.00 AS Decimal(10, 2)), 50000)
INSERT [dbo].[Salary] ([SalaryID], [Amount], [OriginalAmount]) VALUES (2, CAST(60000.00 AS Decimal(10, 2)), 60000)
INSERT [dbo].[Salary] ([SalaryID], [Amount], [OriginalAmount]) VALUES (3, CAST(70000.00 AS Decimal(10, 2)), 70000)
GO
INSERT [dbo].[Sales] ([SaleID], [ApartmentID], [RealtorID], [BuyerID], [SaleDate], [FinishingTypeID]) VALUES (1, 26, 3, 7, CAST(N'2023-12-01' AS Date), 3)
INSERT [dbo].[Sales] ([SaleID], [ApartmentID], [RealtorID], [BuyerID], [SaleDate], [FinishingTypeID]) VALUES (2, 33, 1, 3, CAST(N'2023-12-12' AS Date), 1)
INSERT [dbo].[Sales] ([SaleID], [ApartmentID], [RealtorID], [BuyerID], [SaleDate], [FinishingTypeID]) VALUES (3, 39, 2, 15, CAST(N'2023-12-15' AS Date), 3)
GO
ALTER TABLE [dbo].[ApartmentFinishing]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentFinishing_Apartments] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartments] ([ApartmentID])
GO
ALTER TABLE [dbo].[ApartmentFinishing] CHECK CONSTRAINT [FK_ApartmentFinishing_Apartments]
GO
ALTER TABLE [dbo].[ApartmentFinishing]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentFinishing_FinishingPriceCoefficients] FOREIGN KEY([CoefficientID])
REFERENCES [dbo].[FinishingPriceCoefficients] ([CoefficientID])
GO
ALTER TABLE [dbo].[ApartmentFinishing] CHECK CONSTRAINT [FK_ApartmentFinishing_FinishingPriceCoefficients]
GO
ALTER TABLE [dbo].[FinishingPriceCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_FinishingPriceCoefficients_FinishingTypes] FOREIGN KEY([FinishingTypeID])
REFERENCES [dbo].[FinishingTypes] ([FinishingTypeID])
GO
ALTER TABLE [dbo].[FinishingPriceCoefficients] CHECK CONSTRAINT [FK_FinishingPriceCoefficients_FinishingTypes]
GO
ALTER TABLE [dbo].[RealtorCompanyLinks]  WITH CHECK ADD  CONSTRAINT [FK_RealtorCompanyLinks_Realtors] FOREIGN KEY([RealtorID])
REFERENCES [dbo].[Realtors] ([RealtorID])
GO
ALTER TABLE [dbo].[RealtorCompanyLinks] CHECK CONSTRAINT [FK_RealtorCompanyLinks_Realtors]
GO
ALTER TABLE [dbo].[RealtorCompanyLinks]  WITH CHECK ADD  CONSTRAINT [FK_RealtorCompanyLinks_RealtyCompanies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[RealtyCompanies] ([CompanyID])
GO
ALTER TABLE [dbo].[RealtorCompanyLinks] CHECK CONSTRAINT [FK_RealtorCompanyLinks_RealtyCompanies]
GO
ALTER TABLE [dbo].[RealtorSalaryLinks]  WITH CHECK ADD  CONSTRAINT [FK__RealtorSa__Realt__5DCAEF64] FOREIGN KEY([RealtorID])
REFERENCES [dbo].[Realtors] ([RealtorID])
GO
ALTER TABLE [dbo].[RealtorSalaryLinks] CHECK CONSTRAINT [FK__RealtorSa__Realt__5DCAEF64]
GO
ALTER TABLE [dbo].[RealtorSalaryLinks]  WITH CHECK ADD  CONSTRAINT [FK__RealtorSa__Salar__5EBF139D] FOREIGN KEY([SalaryID])
REFERENCES [dbo].[Salary] ([SalaryID])
GO
ALTER TABLE [dbo].[RealtorSalaryLinks] CHECK CONSTRAINT [FK__RealtorSa__Salar__5EBF139D]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Apartments] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartments] ([ApartmentID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Apartments]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Buyers] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Buyers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Realtors] FOREIGN KEY([RealtorID])
REFERENCES [dbo].[Realtors] ([RealtorID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Realtors]
GO
USE [master]
GO
